body {
    padding: 20px 300px;
}
body article{
    display: inline-block;
}
header{
    margin-bottom: 16px;
}
header article p {
    color: #656565;
}
header article:last-child{
    float:right;
    width:31%;
}
header article {
    border-left: solid;
    border-left-color: #656565;
    padding-left: 20px;
}
main article{
    width:30%;
    float: left;
}
main article:nth-child(2){
    padding: 0 30px;
}
    main article img {
        padding-top:14px;
        max-width: 100%;
        height:180px;
    }